/* stylelint-disable selector-class-pattern */
h1 {
  color: white;
  font-family: Silkscreen, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 200;
  margin: 30px;
}

.mainContainer {
  justify-items: center;
}

.headerInfo {
  justify-items: center;
}

.albumCover {
  align-self: center;
  border-radius: 8px;
  height: 4.5em;
  margin-left: 15px;
}

h2 {
  font-family: Rubik, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.infoList {
  font-size: 15px;
  justify-items: left;
  list-style-type: none;
  margin: 5px;
  padding: 0;
}
.infoList a {
  color: white;
  text-decoration: none;
  font-style: italic;
}
.infoList a:hover {
  color: white;
  text-decoration: none;
  color: rgb(151, 151, 151);
}
.musicInfo {
  align-content: center;
  justify-items: left;
  margin-left: 30px;
  margin-right: 15px;
}

.formatMusic {
  display: inline-flex;
}

.sound {
  align-self: center;
  height: 2em;
  padding: 10px;
}

.music p {
  color: white;
  font-family: Rubik, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200;
  margin: 2px;
}

.quickResume {
  background-color: rgb(9 9 36);
  border-radius: 10px;
  box-shadow: 0 0 7px grey;
  height: 800px;
  justify-self: center;
  margin-bottom: 100px;
  width: 40vw;
  padding: 10px;
  padding-left: 20px;
  color: white;
  font-family: Rubik, sans-serif;
}

.qListen {
  color: white;
  font-family: Rubik, sans-serif;
  justify-self: center;
  margin-bottom: 5px;
  margin-top: 0;
}

.music {
  align-items: center;
  background-color: rgb(9 9 36);
  border-radius: 10px;
  box-shadow: 0 0 7px grey;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-self: center;
  margin: 18px;
  padding: 10px;
  width: auto;
}

.infoBox {
  background-color: rgb(9 9 36);
  border-radius: 10px;
  box-shadow: 0 0 7px grey;
  color: white;
  height: auto;
  justify-self: center;
  max-height: 600px;
  max-width: 800px;
  padding: 5px;
  width: 40vw;
  word-wrap: break-word;
}

.greet {
  color: white;
  font-family: "Cal Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  margin: 10px;
  margin-left: 15px;
}

.sideBar {
  background-color: rgb(9 9 36);
  border-radius: 10px;
  box-shadow: 0 0 7px grey;
  color: white;
  font-family: Rubik, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200;
  height: 50vh;
  justify-items: center;
  margin-left: 30px;
  max-height: 600px;
  padding: 5px;
  padding-left: 10px;
  width: auto;
}

.infoList li {
  padding-bottom: 2px;
  padding-top: 2px;
}

.githubChart img {
  height: auto;
  width: 90%;
}

.githubChart {
  padding-top: 15px;
  text-align: center;
}

.underHead {
  display: inline-flex;
  justify-items: center;
}

.downloadRes {
  color: white;
  font-family: "Cal Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 27px;
  font-weight: 700px;
  margin-top: 40px;
  text-decoration: none;
}
.downloadRes :hover {
  color: grey;
}

.pronoun {
  align-self: flex-end;
  color: grey;
  font-size: 12px;
  margin-bottom: 0;
  margin-left: 5px;
}

.conatinUnderHead {
  justify-self: center;
}

.info {
  color: white;
  font-family: Rubik, sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  margin: 10px;
  margin-left: 15px;
  text-indent: 20px;
}

.me {
  width: 7em;
}

.links img {
  margin: 5px;
  width: 2em;
}
