h1 {
  color: white;
  font-size: 60px;
  font-family: "Silkscreen", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin: 30px;
}

.mainContainer{
    justify-items: center;
}
.headerInfo{
    justify-items: center;
}
.albumCover{
    height:4.5em;
    border-radius: 8px;
    margin-left: 15px;
    align-self: center;
    
}
h2{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.infoList{
    list-style-type: none;
    font-size: 15px;
    margin:5px;
    padding:0px;
    justify-items: left;
}
.musicInfo{
    margin-left: 30px;
    margin-right: 15px;
    align-content: center;
    justify-items: left;
}
.formatMusic{
    display: inline-flex;
}
.sound{
    align-self: center;
    height:2em;
    padding:10px;

}
.music p{
    color: white;
    margin: 2px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.quickResume{
    height: 800px;
    width: 40vw;
    background-color: rgb(9, 9, 36);
    border-radius: 10px;
    box-shadow: 0 0 7px grey;
    justify-self: center;
    margin-bottom: 100px;
}
.qListen{
    justify-self: center;
    margin-top:0px;
    margin-bottom:5px;
    color:white;
    font-family: "Rubik", sans-serif;
}
.music{
    background-color: rgb(9, 9, 36);
    width: auto;
    justify-self: center;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 7px grey;
    padding: 10px;
    margin: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
        
}
.infoBox{
    color:white;
    background-color: rgb(9, 9, 36);
    width: 40vw;
    justify-self: center;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 7px grey;
    padding: 5px;
    max-height: 600px;
    max-width: 800px;
    word-wrap: break-word;
}
h2{
    color: white;
}
.greet{
    color: white;
    font-family: "Cal Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    margin:10px;
    margin-left: 15px;

}
.sideBar{
    color: white;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    
    background-color: rgb(9, 9, 36);
    margin-left: 30px;
    width: auto;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0 0 7px grey;
    padding: 5px;
    max-height: 600px;
    justify-items: center;
    padding-left: 10px;
}
.infoList li{
    padding-top: 2px;
    padding-bottom: 2px;
}
.underHead{
    display: inline-flex;
    justify-items: center;
}
.pronoun{
    color:grey;
    font-size: 12px;
    align-self: flex-end;
    margin-left: 5px;
    margin-bottom: 0px;
}
.conatinUnderHead{
    justify-self: center;
}
.info{
    color: white;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    margin:10px;
    margin-left: 15px; 
    text-indent: 20px;

}
.me{
    width:7em;
    
}

.links img{
    width:2em;
    margin:5px;
}