h1 {
  color: white;
  font-size: 60px;
  font-family: "Silkscreen", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.headerInfo{
    justify-items: center;
}
.albumCover{
    height:4.5em;
    border-radius: 8px;
    margin-left: 15px;
    
}
.musicInfo{
    margin-left: 20px;
    margin-right: 15px;
    align-content: center;
    justify-items: left;
}
.formatMusic{
    display: inline-flex;
}
.music p{
    color: white;
    margin: 2px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.music{
    background-color: rgb(9, 9, 36);
    width: auto;
    justify-self: center;
    height: 13vh;
    border-radius: 10px;
    box-shadow: 0 0 7px grey;
    padding: 10px;
    margin: 18px;
    display: flex;
  
    
    align-items: center;
        
}
.infoBox{
    color:white;
    background-color: rgb(9, 9, 36);
    width: 40vw;
    justify-self: center;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 7px grey;
    padding: 5px;
    max-height: 600px;
    max-width: 800px;
    word-wrap: break-word;
}
h2{
    color: white;
}
.greet{
    color: white;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin:10px;
    margin-left: 15px;

}
.sideBar{
    color: white;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color:white;
    background-color: rgb(9, 9, 36);
    margin-left: 30px;
    width: 10vw;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0 0 7px grey;
    padding: 5px;
    max-height: 600px;
    justify-items: center;
}
.underHead{
    display: inline-flex;
    justify-items: center;
}

.conatinUnderHead{
    justify-self: center;
}
.info{
    color: white;
    font-family: "Cal Sans", sans-serif;
    
    font-size: 18px;
    margin:10px;
    margin-left: 15px; 
    text-indent: 20px;

}
.me{
    width:7em;
    
}

.links img{
    width:2em;
    margin:5px;
}